.row
  .column.medium-11.medium-centered
    h6.profile-title Cyberia public profile
    .row
      .column.medium-4
        .profile-level-container
          .profile-level= level
          .profile-level-annotation Access Class
      .column.medium-8
        .profile-name= name
        .profile-group #{group}
        #profile-content
          p.profile-status= status
          a.button-small-alt.edit-profile Edit profile
        form#profile-edit-form
          fieldset.inputs
            ul
              li
                textarea.profile-status-edit(name="status", autofocus)= status
          fieldset.buttons
            ul.inline-list
              li
                a.ok-button-small-alt.save-profile Save profile
              li
                a.button-small-alt.cancel-edit Cancel
