.row
  .column.medium-9.medium-centered
    h6.profile-title Cyberia public profile
    .row
      .column.medium-12.medium-centered
        #profile-content
          .profile-name= name
          .profile-group #{group}
          p.profile-status= status
          a.button-small-alt.edit-profile Edit profile
        form#profile-edit-form
          fieldset.inputs
            ul
              li
                textarea.profile-status-edit(name="status", autofocus)= status
          fieldset.buttons
            ul.inline-list
              li
                a.ok-button-small-alt.save-profile Save profile
              li
                a.button-small-alt.cancel-edit Cancel
    .row
      .column.medium-4
        .profile-detail
          .detail-value Class #{level}
          .detail-name Access Level
      .column.medium-4
        .profile-detail
          .detail-value 3927
          .detail-name Credits
      .column.medium-4
        .profile-detail
          .detail-value 10381
          .detail-name Something
