.post-avatar
.post-author= author.name
timestamp.post-timestamp
  | <span class="time">#{sent}</span>
  | <i class="fa fa-clock-o"></i>
.post-text= text
if attachment
  img.post-attachment(width="#{attachment.width}", height="#{attachment.height}")
